*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
}
/* Reuseable  */
:root{

    /*=============== COLOR ===============*/
    --background-color: #0D2149;
    --button: #60492C;
    --highlight:#208AAE;
    --text: #fdfffc;
    --hover: #F9EBE0;
    --border: #463F1A;


    /* =============== FONT & TYPOGRAPHY   ===========*/
    --body-font: 'Roboto Mono', monospace;;
    --biggest-font-size: 15.5rem;
    --media-query-biggest-font: 12.5rem;
    --media-query-medium-font: 10.5rem;
    --media-query-small-font: 7.5rem;
    --media-query-smallest-font:5.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --mobile-font-big: 4.5rem;
    --mobile-font-medium: 3.5rem

    /* ==================  Nav Bar ===================== */
}


nav{
    height: 7vh;
    background-color: rgba(32,138,174, .4);
}
.l-j{
    color: var(--background-color);
}
.fa-cog{
    color: var(--highlight);
}
.l-d{
    color: #4D7EA8;
}
.l-e{
    color: var(--background-color);
}
.fa-analytics{
    color: #000;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-top: -60px;
}
.nav-links li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    float: right;
}
label{
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    padding: 0 30px;
}
@media screen and (max-width: 960px){
    .nav-links{
        position: fixed;
        background-color:  rgb(32,138,174);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1600px at 90% -10%);
        -webkit-clip-path: circle(1600px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transform: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transform: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transform: all 0.5s ease 0.6s;
    }
    li.fade{
        opacity: 1;
    }
    .line{
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
        
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
}